/*--------------------Обнуление-----------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li{
  list-style: none;
}
img{
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: inherit;
  font-size: inherit;
}
html,
body{
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  font-family: Poppins;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
}
._container{
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: content-box;
}
.header{
  background-color:#1C1E53; 
}
.header__logo{
  color: inherit;
  font-size: 28px;
  margin: auto 0;
}
.header__container{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  min-height: 92px;
}
.menu__list{
  display: flex;
}
.menu__item:not(:last-child){
  margin: 0 32px 0 0;
}
.menu__link{
  color: #fff;
  font-size: 16px;
}
.header__menu{
  margin: auto 0;
}
.header__body{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.header__body__text{
  margin: 126px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 582px;
  height: 414px;
}
.title{
  font-size: calc(54/16 *100%);
  font-weight: 600;
  line-height: 74px;
}
.body__img{
  max-width: 638px;
  max-height: 361px;
  margin: 0 auto;
}
.header__body__img{
  margin: 149px 0;
  display: flex;
}

.subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.header__buttons{
  display: flex;
  height: 64px;
}

.body__link{
  font-size: calc(18/16 *100%);
  font-weight: 500;
  color: #fff;
  margin: auto 0;
}
.body__link:not(:last-child){
  margin-right: 90px;
  background-color: #FCD980;
  border: 15px solid #FCD980;
  border-radius: 41px;
  color: black;
  font-weight: 600;
}
.body__container{
  display: flex;
  justify-content: space-between;
}
.about__us{
  background-color:  #F4F6FC;
  min-height: 661px;
  padding-top: 120px;
}
.how__we__work{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 184px;
  width: 405px;
}
.work__title{
  font-weight: 600;
  font-size: calc(48/16 *100%);
  color: #000;
}
.work__subtitle{
  font-weight: 400;
  font-size: 16px;
  color:   #282938;
}
.work__link{
  color:#2405F2;
  font-weight: 500;
  font-size: 18px;
}
.f__elements{
  display: flex;
  flex-direction: column;
}
.upper__elements{
  display: flex;
  flex-direction: row;
}
.elements__item{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 178px;
  justify-content: space-around;
}
.under__elements{
  display: flex;
  margin-top: 49px;
}
.elements__title{
  font-weight: 500;
  font-size: calc(38/16 *100%);
  color: #282938;
}
.elements__subtitle{
  font-weight: 400;
  font-size: 16px;
  color:   #282938;
}
/* media 
@media(max-width: 1280px){
  .header__body{
    padding: calc(5px + (0 - 5)* ((100vw - 320px)/ (1200 - 320)));
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  .header__body__text{
    margin: 126px 0 0 0;
  }
  .header__container{
    padding: calc(5px + (0 - 5)* ((100vw - 320px)/ (1200 - 320)));
  }
  .header__logo{
    font-size: calc(15px + (28 - 15) *((100vw - 320px)/ (1200 - 320)));
  }
  .menu__link{
    font-size: calc(10px + (16 - 10)*((100vw - 320px)/ (1200 - 320)));
  }
  .title{
    font-size: calc(25px + (54 - 25)*((100vw - 320px)/ (1200 - 320)));
    flex-wrap: wrap;
    line-height: calc(40px + (75 - 40)*((100vw - 320px)/ (1200 - 320)));
  }
  .subtitle{
    font-size: calc(13px + (16 - 13)*((100vw - 320px)/ (1200 - 320)));
  }
  .body__link{
    font-size: calc(13px + (18 - 13)*((100vw - 320px)/ (1200 - 320)));
  }
  .body__link:not(:last-child){
    margin-right: calc(15px + (90 - 15)* ((100vw - 320px)/ (1200 - 320)));
    background-color: #FCD980;
    border: calc(10px + (15 - 10)* ((100vw - 320px)/ (1200 - 320))) solid #FCD980;
    border-radius: 41px;
    color: black;
    font-weight: 600;
  }
  .body__img{
    max-width: calc(310px + (638 - 310)* ((100vw - 320px)/ (1200 - 320)));
  }
  .header__body__img{
    margin: calc(73px + (149 - 73)* ((100vw - 320px)/ (1200 - 320))) 0 calc(73px + (149 - 73)* ((100vw - 320px)/ (1200 - 320))) 0;
  }
}
@media(max-width: 767px){
  .body__container{
    flex-wrap: wrap;
    text-align: center;
  }
  .upper__elements{
    display: flex;
    flex-direction: column;
  }
  .under__elements{
    display: flex;
    flex-direction: column;
    margin: 0 0;
  }
  .f__elements{
    margin: 50px auto;
  }
}
*/
.our__work{
  background-color:  #fff;
  min-height: 661px;
  padding-top: 128px;
  padding-bottom: 128px;
}
.header__projects{
  display: flex;
  justify-content: space-between;
  color: #282938;
  margin-bottom: 64px;
  min-height: 64px;
}
.projects__title{
  font-weight: 600;
  font-size: 48px;
  margin: auto 0;
}
.title__link{
  font-weight: 500;
  font-size: 16px;
  margin: auto 0;
}
.gallery{
  display: flex;
  justify-content: space-between;
}

.first__color{
  color: #000;
  z-index: 20;
  background: linear-gradient(315deg,  rgba(28, 30, 83, 1), rgba(28, 30, 83, 0.42));
  width: 396px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.color__title{
  margin: 312px 35px 16px 48px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}
.color__subtitle{
  margin: 0 55px 40px 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.color__link{
  margin: 0 208px 76px 48px;
  color: rgba(252, 217, 128, 1);
}
.second__column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.features{
  background-color: rgba(244, 246, 252, 1);
  min-height: 1191px;
  padding-top: 128px;
}
.features__container{
  display: flex;
  flex-direction: column;
}
.features__text{
  display: flex;
  flex-direction: column;
  text-align: center;
  color:#282938;
}
.features__title{
  font-weight: 500;
  font-size: 16px;
}
.features__subtitle{
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  margin-top: 12px;
}
.features__cards{
  margin-top: 47px;
}
.upper__cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.first__card{
  background-color: #fff;
  width: 405px;
  height: 316px;
  color: #000;
  padding: 0px 32px 0px 48px;
}
.first__card img{
  padding-top: 58px;
}
.first__card h1{
  color: #282938;
  padding-top: 22px;
  font-weight: 500;
  font-size: 24px;
}
.first__card p{
  padding-top: 12px;
  line-height: 28px;
  font-weight: 500;
  font-size: 16px;
  color: #282938;
}
.under__cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}
.second__card{
  background-color: #fff;
  width: 405px;
  height: 316px;
  color: #000;
  padding: 0px 32px 0px 48px;
}
.second__card img{
  padding-top: 58px;
}
.second__card h1{
  color: #282938;
  padding-top: 22px;
  font-weight: 500;
  font-size: 24px;
}
.second__card p{
  padding-top: 12px;
  line-height: 28px;
  font-weight: 500;
  font-size: 16px;
  color: #282938;
}
.testimonials{
  background-color:#F4F6FC;
  padding: 128px 0;
}
.testimonials__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.testimonials__text{
  width: 327px;
  height: 184px;
}
.testimonials__title{
  font-weight: 600;
  font-size: 38px;
  color: #282938;
  line-height: 56px;
}
.testimonials__subtitle{
  font-weight: 400;
  font-size: 16px;
  color: #282938;
  margin-top: 16px;
}
.testimonials__feedback{
  width: 843px;
  height: 250px;
  display: flex;
  flex-direction: column;
  color: #282938;
}
.feedback__profile{
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}
.feedback{
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
.profile__icon{
  width: 52px;
  height: 52px;
}
.profile__text{
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  justify-content: center;
}
.profile__title{
  font-weight: 500;
  font-size: 18px;
}
.profile__subtitle{
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
}
.feedback__who{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile__dart{
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  align-items: center;
}
.back__dart{
  background-color: #fff;
  font-size: 32px;
  border: 10px solid #fff;
  border-radius: 120px;
  margin-right: 10px;
}
.next__dart{
  background-color:#5239FA;
  font-size: 32px;
  border: 10px solid #5239FA;
  border-radius: 120px;
  margin-right: 10px;
}

.faq{
  background-color:#fff;
  padding: 128px 0;
}
.faq__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 537px;
}
.faq__text{
  width: 328px;
  height: 160px;
}
.qn{
  display: flex;
  flex-direction: row;
  margin-left: 27px;
  width: 820px;
  min-height: 114px;
}
.qn:not(:last-child){
  border-bottom: 2px solid grey;
  padding-bottom: 48px;
}
.qn:not(:first-child){
  padding-top: 32px;
}
.faq__title{
  color: #282938;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
}
.faq__subtitle{
  color: #2405F2;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-top: 16px;
}
.faq__quastion{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #000;
  width: 846px;
  min-height: 530px;
}
.faq__qn{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.faq__num{
  color:#2405F2;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  width: 30px;
  height: 30px;
}
.qn__title{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.qn__title:not(:last-child){
  margin-bottom: 16px;
}
.qn__subtitle{
  width: 624px;
  min-height: 62px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.blog{
  background-color:#fff;
  padding: 128px 0;
  color: #000;
}
.blog__container{
  display: flex;
  flex-direction: column;
  min-height: 737px;
}
.blog__title{
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
  margin-bottom: 64px;
}
.blog__cards{
  display: flex;
  flex-direction: row;
}
.date{
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}
.card{
  margin-top: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.blog__subtitle{
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}
.blog__link{
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
.footer{
  background-color: #1C1E53;
  padding: 104px 0 0 0;
}
.footer__text{
  display: flex;
  flex-direction: row;
}
.text__left{
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 198px;
}
.left__title{
  font-size: 28px;
}
.left__subtitle{
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
.right__title{
  font-size: 48px;
  font-weight: 600;
}
.text__right{
  width: 399px;
  height: 206px;
  margin-left: 260px;
}
.right__subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 14px;
}
.right__icon{
  margin-top: 28px;
}
.right__icon img:not(:last-child){
  margin-right: 27px;
}
.contact{
  width: 517px;
  height: 95px;
  background-color:#FCD980;
  display: flex;
  flex-direction: row;
  padding:18px 38px ;
}
.email__text{
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
}
.adress{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}
.phone{
  margin-left: 29px;
}
.phone__text{
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
}
.phone__number{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}
.under__footer{
  background-color: #fff;
  padding: 32px 0;
}

.footer__bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__list{
  display: flex;
}
.footer__item:not(:last-child){
  margin-right: 32px;
}
.footer__link{
  color: #282938;
  font-size: 16px;
  text-decoration: none;
}
.initials{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #282938;
}
.footer__menu{
  margin: auto 0;
}